<div ng-controller="Our.Umbraco.TourEditor.StepDetailsController as vm">
    <umb-box>
        <umb-box-header title="Step settings"></umb-box-header>
        <umb-box-content>
            <form name="stepDetailsForm" val-form-manager ng-if="vm.step !== null">
                <umb-property property="vm.properties.Title">
                    <input type="text" ng-model="vm.step.title" class="umb-editor" required />
                </umb-property>
                <umb-property property="vm.properties.Content">
                    <textarea ng-model="vm.step.content"></textarea>
                </umb-property>
                <umb-property property="vm.properties.Type">
                    <input type="checkbox" ng-model="vm.isIntro" />
                </umb-property>
                <umb-property property="vm.properties.Element">
                    <input type="text" ng-model="vm.step.element" class="umb-editor" ng-required="vm.step.type !== 'intro'" />
                </umb-property>
                <umb-property property="vm.properties.PreventClick">
                    <input type="checkbox" ng-model="vm.step.elementPreventClick" />
                </umb-property>
                <umb-property property="vm.properties.Event">
                    <input type="text" ng-model="vm.step.event" class="umb-editor" />
                </umb-property>
                <umb-property property="vm.properties.EventElement">
                    <input type="text" ng-model="vm.step.eventElement" class="umb-editor" />
                </umb-property>
                <umb-property property="vm.properties.BackDropOpacity">
                    <input type="number" ng-model="vm.step.backdropOpacity" min="0" max="1" step="0.1" class="umb-editor" />
                </umb-property>
                <umb-property property="vm.properties.View">
                    <input type="text" ng-model="vm.step.view" class="umb-editor" />
                </umb-property>
                <umb-property property="vm.properties.CustomProperties">
                    <input type="text" ng-model="vm.step.customProperties" class="umb-editor" />
                </umb-property>
                <span ng-init="vm.form=stepDetailsForm"></span>
            </form>
        </umb-box-content>
    </umb-box>
</div>